@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

header {
    background-color: #61988E;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: Lato, Helvetica, sans-serif;
}

body {
    font-family: Lato, Helvetica, sans-serif;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width:150px;
    margin-left: 10px;
}
#link1 {
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
#link2 {
    grid-column: 5/6;
    grid-row: 1/2;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
#link3 {
    grid-column: 7/8;
    grid-row: 1/2;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}







#main1 {
    outline: 2px solid black;
    background-color: #A0B2A6;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
}
.mpic {
    width: 50%;
    height: 250px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: auto;
}
#mtnpardiv {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 20px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}
#mtnpar {
    font-size: 20px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 45px;
}



#main2 {
    outline: 2px solid black;
    background-color: #A0B2A6;
    display: grid;
    grid-template-columns: 60% 40% ;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
}
#rdpardiv {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 20px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}
.rpic {
    width: 50%;
    height: 250px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: auto;
    margin-right: auto;
}
#rdpar {
    font-size: 20px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 45px;
}
#pg3link {
}

#page2main {
    background-color: #A0B2A6;
}




footer {
    background-color: #61988E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Lato, Helvetica, sans-serif
}
#endmsg {
    grid-column: 1;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
#endlink {
    grid-column: 2;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.social {
    grid-column: 3;
}
#facebook {
    width: 150px;
}
#twitter {
    width: 150px;
}
#instagram {
    width: 150px;
}




/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 30px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  #panel1 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto;
    display: grid;
  }

  #roadtire1 {
      grid-column: 1/2;
      grid-row: 1/2;
      height: auto;
      width: 140px;
  }
  #roadtire1link {
      grid-column: 2/3;
      grid-row: 1/2;
      text-align: center;
  }

  #roadtire2 {
      grid-column: 1/2;
      grid-row: 2/3;
      height: auto;
      width: 140px;
  }
  #roadtire2link {
      grid-column: 2/3;
      grid-row: 2/3;
      text-align: center;
  }



  #panel2 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    grid-template-columns: 150px 1fr;
    display: grid;
  }

  #roadclothes1 {
      grid-column: 1/2;
      height: auto;
      width: 140px;
  }
  #roadclothes1link {
      grid-column: 2/3;
      text-align: center;
  }

  #roadclothes2 {
      grid-column: 1/2;
      height: auto;
      width: 140px;
  }
  #roadclothes2link {
      grid-column: 2/3;
      text-align: center;
  }